version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=${MONGO_URI}
      - JWT_SECRET=${JWT_SECRET}
    command: npm run dev
    volumes:
      - ./backend:/app
      - /app/node_modules
    depends_on:
      - mongo
    restart: always

  frontend:
    build: 
      context: ./frontend
      target: dev
    ports:
      - "8443:443"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend
    restart: always

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    restart: always

volumes:
  mongo-data:
